.spiralss_field_error{
	background: #ffe9e9;
}

.spiralss_inline_form p{
	display: inline-block;
	margin-right: 10px;
}

.spiralss_form label{
	display: block;
}

.spiralss_success_message{
	display:none;
}

.spiralss_form .placeholder {
	color: #aaa;
}